@tailwind base;
@tailwind components;
@tailwind utilities;


.searchBtn{
  border: 2px solid skyblue;
  padding: 5px;
  border-radius: 8px;
}
.active{
  opacity: 1;
}
.swiperBanner{
  height: 500px;
  width: 500px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Productswiper{
  margin-top: 20px;
}
